 .float-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
} 

input {
    height: 2pc;

}
 
button {
    border: none;
    color: white;
    width: 20pc;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.dropdown-menu {
    border: none;
    color: white;
    width: 20pc;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#contener {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #inner {
    height: 350px;
  }
  
  .preloader {
    animation: spin 2.5s ease-in-out infinite;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotateY(360deg);
    }
    100% {
      -webkit-transform: rotateY(0deg);
    }
  }