<!doctype html>
<html>

    <head>
        <title>Tweet Scope</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="pragma" content="no-cache" />
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="/static/index.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>
      
      <body class="jumbotron">
      
        <div class="text-center text-primary">
            
            <p><a onclick="history.back()">Return to Tweet Scope</a></p>
          
            <a href="https://github.com/waleedrizwan"><small>open source made with ❤️ by Waleed</small></a>
          <br>
          <h1>About</h1>
            <p1>This is an open source project created to conduct sentiment analysis on the tweets of individuals
                as well as tweets regarding a specific subject. I created this project because I believe that Twitter is 
                a valuable source of information regarding emotions, opinions and the current mental state of its users. Given that
                Twitter has millions of users of all backgrounds, it is the perfect resource for real-time global sentiment analysis.
                To contribute simply make a pull request on the <a href="https://github.com/waleedrizwan/tweet_scope">github repository found here</a>. Feel free to send me any suggestions.
            </p1>


            


</html>