<!DOCTYPE html>
<html lang="en">

<head>
  <title>Twitter Stalk</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="pragma" content="no-cache" />
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="/static/style.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="/static/index.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class="jumbotron">

  <div class="text-center text-primary">
    
    <a href="https://github.com/waleedrizwan"><small >made with ❤️ by Waleed</small></a>
    
    <h1>Welcome To Tweet Scope</h1>
    <img src="https://cdn.usbrandcolors.com/images/logos/twitter-logo.svg" alt="Paris" class="center">
  </div>


  <div class="jumbotron float-container text-primary">
    <div class="float-child">
     

      <select id="selectTag" class="form-control form-control-sm">
        <option>Username</option>
        <option>Hashtag</option>
        <option>Liked Tweets By Username</option>

      </select>

    </div>
    <div class="float-child text-primary">
      <div class="form-group text-primary">
        <input id="userinput" placeholder="Enter Username or Hashtag" maxlength="60" size="60">
      </div>
    </div>

    <div class="float-child">
      <button type="button" id="submitButton" class="btn btn-primary" onclick="JavaScript:getInput()">Pull Tweets</button>
    </div>

    <br>


    <!-- closes float container class  -->
  </div>

  <table id="table" class="table text-primary">
    <thead>
      <tr>
        <th>Date</th>
        <th>Username</th> 
        <th>Tweet</th>
        <th># of Favorites</th>
        <th># of Retweets</th>
      </tr>
    </thead>
<tbody id="tablebody">

  

</tbody>

  </table>



</body>